<% if user_signed_in? %>
  <div class="container border border-2 border-secondary border-opacity-25 bg-white">
  <div class="d-flex flex-column align-items-stretch bg-white" style="width: 100%;">
    <div class="row">
      <%= link_to "新しい日記作成", new_diary_path, class: "btn btn-warning fs-5 fw-semibold mt-2 text-white col-md-6 offset-md-3" %>
    </div>
    <a href="/diaries" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">あなたの日記一覧</span>
    </a>
    <% @user_diaries.each do |diary| %>
      <%= render "shared/diaryindex", diary: diary %>
    <% end %>
  </div>
  <div class="d-flex flex-column align-items-stretch bg-white" style="width: 100%;">
    <a href="/diaries" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">フォロワーの日記一覧</span>
    </a>
    <% @follow_diaries.each do |diary| %>
      <%= render "shared/diaryindex", diary: diary %>
    <% end %>
  </div>
  </div>
<% else %>
  <p>日記をご覧頂けません</p>
<% end %>

