<%= link_to "BACK", user_path(current_user.id), class: "btn" %>  
<div class="container border border-5 border-warning rounded">  
  <strong class="h3 center">フォロー</strong>
    <div class="row">
      <div class="col">
        <ul class="list-group list-group-horizontal ">
          <li class="list-group-item border-0">
            <strong>ユーザー名</strong>
            <% @users.each do |user| %>
              <%= user.username %>
              <% if current_user != user %>
                <% if user.followed_by?(current_user) %>
                  <%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete, class: "btn btn-warning rounded-pill text-white " %>
                <% else %>
                  <%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-warning rounded-pill text-white" %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </strong>
<% end %>

