<div class="col-md-8 offset-md-2 pt-2">
  <div class="card">
    <div class="card-body text-black">
      <p class="card-title text-center">＃リアル脱出ゲームとは？</p>
      <p class="card-text text-center">
        マンションの一室や野球場や学校、廃病院、そして地下鉄や遊園地など様々な場所を舞台に、<br>
        謎を解いてそこから「脱出」することを目的とした体験型ゲーム・イベントです。<br>
      </p>
      <p class="card-title">Q1.何人で遊べるの？</p>
      <p class="card-text">
        基本的には1人から何人でも遊べます!<br>
        リアル脱出ゲームにはチーム戦のものと個人戦のものがあります。<br>
        チーム戦の際にチームの人数に満たない1人や2人で参加しても、スタッフさんがチームを組んで下さる場合がほとんどです。<br>
      </p>
      <p class="card-title">Q2.どこで遊べるの？</p>
      <p class="card-text ">
        主に２パターンあります!<br>
        1.各イベントや店舗サイトからチケットを購入し、会場・店舗にてゲームを体験。<br>
        2.店舗やネットショップで販売されている本・グッズを購入して、任意の場所でゲームを体験。<br>
        その他、オンライン上での脱出ゲームや、街歩きなど全国で様々な形で実施されています!<br>
      </p>
    </div>
  </div>
</div>
<div class="col-md-8 offset-md-2 pt-2">
  <div class="card">
    <div class="card-body text-black">
      <p class="card-title text-center">＃リアル脱出ゲームの流れは？</p>
      <p class="card-text">
        １）チケット購入<br>
        興味のある公演・日時を選んで、参加人数分のチケットを購入しましょう！<br>
        チーム戦のものもありますが,1人からでも参加できます!<br>
        <br>
        ２）入場<br>
        会場での受付は開演の30分前（※）から開始する場合が多いです。<br>
        チケット忘れに気をつけて会場にお越しください。忘れてしまうと入場できないことも...。<br>
        チーム戦の場合、他の参加者とランダムマッチングでチームを組みます。<br>
        同行者だけで参加できるグループチケットもご用意しています。<br>
        お連れ様がいる場合は、必ず全員そろった状態で受付をしましょう！<br>
        ※開催状況、会場によって異なります。チケットの案内をご確認ください。<br>
        <br>
        ３）ゲームの説明<br>
        開演時間になったら、スタッフからゲームの説明が始まります！<br>
        物語の中にしっかり入り込むのが脱出の秘訣!? 映像や司会者の言葉に重要なヒントが隠れてることも!<br>
        <br>
        ４）ゲームスタート!制限時間は60〜90分!<br>
        会場には様々な謎があります。謎を解くのに知識や運動神経は必要ありません。<br>
        必要なものは会場に全て用意されています。謎を解き明かし物語を進めていきましょう!<br>
        <br>
        ５）ゲーム終了<br>
        制限時間がきたら、ゲームは終了! 果たして結果は...!? <br>
        ゲーム中に解き進めた謎や問題の答え合わせ、解説もあります！<br>
      </p>
    </div>
  </div>
</div>
