.headerfooter{
    background-image: url( ../../../public/tanteirenga3.jpeg );
    background-size: cover;
    background-attachment: local;
  }
  .main{
    background-image: url( ../../../public/tantei3.png );
    background-size: cover;
  }
